body {
	
background-color: #f0f0f0; 
font-family: verdana, tahoma, arial; 
margin-left: 15px;
    background-image: url("//i.ibb.co/bR16KBB/waterbell.png");
    background-attachment: scroll;
    background-position: top left;
    background-repeat: repeat;
}
table.module {padding: 2px}
table.site {}
td.modtitle {padding-left: 4px; font-size: 9pt; font-weight: bold; color: white; background-color: #686868; height: 19px}
td.modbody {font-size: 8pt; color: black; background-color: white}
td.modbottom {font-size: 4pt}
td.menu {font-size: 8pt; color: black; background-color: white}
td.list1 {font-size: 8pt; font-family: verdana; color: black; background-color: #f0f0f0}
td.list2 {font-size: 8pt; font-family: verdana; color: black; background-color: white}
td.list3 {font-size: 8pt; font-family: verdana; color: black; background-color: #f0f0f0; border-top: #686868 1px solid}
td.listheader {font-size: 8pt; font-weight: bold; color: #f0f0f0; background-color: #686868}
td.listheader2 {font-size: 8pt; font-weight: bold; color: white; background-image: url(../image/concrete_header2.gif)}
td.listheader3{font-size: 8pt; font-weight: none; color: #f0f0f0; background-color: #686868}
td.light {font-size: 8pt; font-family: verdana; color: black; background-color: #d0d0d0}
a.menu:link, a.menu:visited {font-size: 8pt; color: #000099; text-decoration: none}
a.menu:hover, a.menu:active {font-size: 8pt; color: #6699ff; text-decoration: underline}
a.head:link, a.head:visited {font-size: 8pt; color: white; text-decoration: none}
a.head:hover, a.head:active {font-size: 8pt; color: #6699ff; text-decoration: underline}
.header {color: white; font-size: 12pt; font-weight: bold}
.headerbgr {background-color: #686868}
.headerbg {background-color: #686868; background-repeat: no-repeat}
input, button, select, textarea {border: #686868 1px solid; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #f0f0f0}
input.check {border: 0px; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: white}
option {font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: white}
option.first {border-bottom: #f0f0f0 2px solid; font-weight: normal; font-size: 10px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: white}
img.galtxt {border-color: white; border-width: 3px 6px 3px 0px}

td.caladd {font-size: 8pt; font-family: verdana; color: black; background-color: #f0f0f0; text-align: center}
td.caleven {font-size: 8pt; font-family: verdana; color: black; background-color: white; text-align: center}
td.caladdsunday {font-size: 8pt; font-family: verdana; font-weight: bold; color: red; background-color: #f0f0f0; text-align: center}
td.calevensunday {font-size: 8pt; font-family: verdana; font-weight: bold; color: red; background-color: white; text-align: center}
div.calender {border: solid 1px #000099; padding-left: 1px; padding-right: 1px}
div.calender2 {border: solid 1px #ffffff; padding-left: 1px; padding-right: 1px}