<style type="text/css">
body {
	
background-color: #f0f0f0; 
font-family: verdana, tahoma, arial; 
margin-left: 15px;
    background-image: url("none");
    background-attachment: scroll;
    background-position: top left;
    background-repeat: repeat;
}
td.modtitle
{
background-color: #e9e9e6;
background-image: url("http://redwoodaws.github.io/images/fejlec.png");	
height: 30px;
BORDER-RIGHT: #FF5349 2px solid;
BORDER-BOTTOM: #FF5349 2px solid;
BORDER-TOP: #FF5349 2px solid;
BORDER-LEFT: #FF5349 2px solid;
}
</style>