<style type="text/css">
#moves {
  font-family: font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  border: 1px solid black;
}

#moves td, #moves th {
  
  text-align:center;
  vertical align: center;
  font-size: 12px;
  border: 1px solid black;

}
#th1{
  width:200px;
  
}
#th2{
  width:50px;
}
#th3{
  width:20px;
}
#th4{
  width:220px;
}
#tr1{
 height:30px;
}
#moves tr:not(:first-child){
  height: 120px;
  text-align: center;
}
#moves td:first-child{
}
#illustration{
	width: 150px;
	height: 90px;
}
</style>